# Código tema 4
###### Si tienes problema al dar clic en el botón de -Open In Colab-, te recomendamos dar clic derecho en este y luego seleccionar -Abrir en una pestaña nueva-

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1YEj5PNHkcD222LMHjLElzZORwQ8Fxu9c?usp=sharing)

In [ ]:
# Multiplicamos una string por una número y el resultado es el string escrito la cantidad de de veces del número 
a = 3
b = "12"
c = a * b
print(c)

121212

In [ ]:
# str()   --> Convierte una variable a string
# int()   --> Convierte una variable a Entero
# float() --> Convierte una variable a Flotante
# Recordado que la variable a convertir tiene que ir dentro del parentesis
r = 12.7
print(type(r))
r = str(r)
print(type(r))
s = "Numero: " + r
#s = r + 2
print(s)

<class 'float'>
<class 'str'>
Numero: 12.7

In [ ]:
# Programa que pide la Edad al usuario, la edad se convierte a flotante para poder realizar operaciones con ese dato
Edad = float(input("Introduce tu edad: "))
print(type(Edad))
Edad_nueva = Edad * 2 - 2 
print(Edad_nueva)

Introduce tu edad: 20
<class 'float'>
38.0